#PcCarousel .carousel-item .carousel__banner::before{
    content: "";
    position: absolute;
    top: -1;
    min-height: 102%;    
    left: 0;
    right: 0;
    z-index: -2;
    background-color: #0c0c0c;
    opacity: .6;   
}

#PcCarousel .carousel-item .carousel__banner{    
    background-size: cover;   
    min-height: calc(100vh - 90px);
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    padding: 3rem 0;
    line-height: 0;
}

#PcCarousel .carousel-item:first-child .carousel__banner {
    background-image: url(../images/banner1.jpg);  
}

#PcCarousel .carousel-item:nth-of-type(2) .carousel__banner {
    background-image: url(../images/banner2.jpg);   
}

#PcCarousel .carousel-item:nth-of-type(3) .carousel__banner {
    background-image: url(../images/banner3.jpg);    
}

#PcCarousel .carousel-item:last-of-type .carousel__banner {
    background-image: url(../images/banner1.jpg);    
}

.carosel .carousel-indicators{
    margin: 0 0 30px 0;
}

#PcCarousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;  
    cursor: pointer;
    background-color: #ffffff;  
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    opacity: .9;
    transition: opacity .6s ease;
}

#PcCarousel .carousel-indicators .active, #PcCarousel .carousel-indicators li:hover {
    width: 30px;
    height: 10px;
    border-radius: 15px;
    margin-right: 8px;
    margin-left: 8px;
    background-color: #03bd7f;
}

#PcCarousel .carousel-item .carousel__text{
    text-align: left;
    color: #ffffff;
    max-width: 700px;      
}

#PcCarousel .carousel-item:nth-of-type(2) .carousel__text, #PcCarousel .carousel-item:last-of-type .carousel__text{
    margin-left: auto;
}

#PcCarousel .carousel__text h5 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 0;    
}

#PcCarousel .carousel__text p {
    line-height: 30px;
    font-weight: 400;
    opacity: .9;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 0;   
}

#PcCarousel .carousel__text .btn{
    font-size: 18px;
    font-weight: 400;
    color: #189a46;
    line-height: 28px;  
    border-radius: 10px;
    padding: 12px 35px;
    border: 2px solid white;
    display: inline-block; 
    margin-top: 1.5rem;      
}

#PcCarousel .carousel__text .btn:first-of-type{
    background-color: #ffffff;
    color: #189a46;
    margin-right: 0.5rem;
}

#PcCarousel .carousel__text .btn:last-of-type{
    background-color: transparent ;
    color: #ffffff;
    transition: all .5s;
} 

#PcCarousel .carousel__text .btn:last-of-type:hover {
    background-color: #ffffff;
    color: #189a46;
}

@media screen and (max-width:1200px) {
    #PcCarousel .carousel__text h5 {
        font-size: 52px;
        line-height: 62px;
    }
    #PcCarousel .carousel__text p {
        font-size: 15px;
    }
}

@media screen and (max-width:992px) {
    #PcCarousel .carousel__text h5 {
        font-size: 50px;
        line-height: 55px;
    }
}

@media screen and (max-width:768px) {
    #PcCarousel .carousel-item .carousel__banner {
        min-height: 580px;
    }  
    #PcCarousel .carousel__text p {
        font-size: 16px;
    }
}

@media screen and (max-width:600px) {
    #PcCarousel .carousel-item .carousel__banner {
        min-height: 500px;
    }  
}

@media screen and (min-width:576px) {
    #PcCarousel .carousel-item .container {
        max-width: 540px;
    }  
    #PcCarousel .carousel__text .btn{
        margin-top: 3rem;
    }
}

@media screen and (min-width:768px) {
    #PcCarousel .carousel-item .container {
        max-width: 720px;
    }  
}

@media screen and (min-width:992px) {
    #PcCarousel .carousel-item .container {
        max-width: 960px;
        margin: 0 auto;
    }  
}

@media screen and (min-width:1200px) {
    #PcCarousel .carousel-item .container {
        max-width: 1140px;
        margin: 0 auto;
    }  
}

@media screen and (max-width:480px) {
    #PcCarousel .carousel-item .carousel__banner {
        min-height: 480px;
    }  
    #PcCarousel .carousel__text h5 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media screen and (max-width:440px) {
    #PcCarousel .carousel-item .carousel__banner {
        min-height: 440px;
    }  
}

@media screen and (max-width:375px) {
    #PcCarousel .carousel__text .btn {
        padding:12px 30px;
    }  
}







