.footer__contact {
    background-color: #111111;
    color: #fff;
}

.footer__top .container {
    padding: 0 15px;
}

.footer__top .footer__left,
.footer__top .footer__right {    
    padding: 0 15px;
}

.footer__top .footer__left, .footer__right .footer__item{
    margin-top: 48px;
}

.footer__top ul {
    margin-bottom: 0;
}


.footer__top ul li {
    list-style: none;
    margin-bottom: 5px;
}

.footer__top h6 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer__contact p,
.footer__contact a {
    font-weight: normal;
    font-size: 16px;
    color: #696969;
    line-height: 28px;
    transition: all .5s;
}

.footer__top .footer__left p,
.footer__bottom p {
    margin-bottom: 0;
}

.footer__top .footer__left ul p>span {
    font-weight: 700;
}

.footer__top a:hover {
    color: #ffffff;
}

.footer__top .footer__icon {
    margin-top: 16px;
}

.footer__top .footer__icon ul {
    display: flex;
    margin-top: 3px;
}

.footer__top .footer__icon ul li {
    margin-right: 15px;
}

.footer__bottom {
    background-color: #111;
    margin-top: 3rem;   
    padding: 1rem 0;
    border-top: 1px solid rgba(103, 99, 99, 0.14);
    text-align: center;    
}

.footer__bottom a {
    color: #f53626;
    opacity: 0.9;
}

.backtotop{
    width: 48px;
    height: 48px;
    background: #189a46;
    padding: 0;
    font-size: 18px;
    line-height: 48px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 60px;
    right: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translateY();   
    transition: .3s ease-out;  
    z-index: 99;
    visibility: hidden;
    opacity: 0;
}

.backtotop:hover{
    color: #fff;
    transform: translateY(-5px);
}


.cd-top--is-visible {
    opacity: 1;
    visibility: visible;
}

@media screen and (min-width:576px) {
    .footer__contact .footer__top .container {
        max-width: 540px;        
    }  
}

@media screen and (max-width:600px) {
    .footer__top>.container>.row {
        grid-gap: 20px;        
    }  
}

@media screen and (min-width:768px) {
    .footer__contact .footer__top .container {
        max-width: 720px;        
    }  
}

@media screen and (min-width:992px) {
    .footer__contact .footer__top .container {
        max-width: 960px;   
        margin: 0 auto;  
        padding: 16px 15px;   
    }  
    .footer__bottom{
        padding: 1.5rem 0;
    }
}

@media screen and (min-width:1200px) {
    .footer__contact .footer__top .container {
        max-width: 1140px;   
        margin: 0 auto;     
    }  
}

@media screen and (min-width:1280px) {
    .footer__contact .footer__top .container {
        max-width: 1200px;        
    }  
}

.bottom-spacing{
    background-color: #111111;
    height: 1.5rem;
}
