* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #404040;
    background-color: #151515;
}
.poContain{
    width: 1199.9px;
    margin: auto;
}
.pd__section {
    padding: 48px 0;
}